@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712;
  color: #e5e7eb;
}

/* Custom scrollbar for chat */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
